
#map{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f4;
}

.btnRegresar{
    position: absolute;
    z-index: 2;
    top:15px;
    right: 12px;
    font-size: 105px;
}
